{% extends "base.html" %}

{% block content %}

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</style>
</head>
<body>

<div class="bg"></div>

</body>
</html>

  <center> <h4 class="alert-heading">Welcome to AceBottles - Stay hydrated, but also cute!</h4 </center>
  <p>
  <img src="https://sc04.alicdn.com/kf/H0a2f5cae94184a5588c0920a61bdd21cP.jpg" alt="descriptive text" width="500" height="350" >

  <h5 class="alert alert-info">
  Click here to <a href="shop" class="alert-link">SHOP</a>
</</h5


</div>


{% endblock %}