{% extends "base.html" %}

{% block content %}

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</style>
</head>
<body>

<div class="bg"></div>

</body>
<center
</html>

<h2 class="alert-heading">
    Welcome to AceBottles - Hydrate yourself in style!</h2>
<hr>
<p><img src="https://sc04.alicdn.com/kf/H0a2f5cae94184a5588c0920a61bdd21cP.jpg" alt="descriptive text" width="700" height="550" >

<h5 class="alert alert-light">
  Click here to <a href="shop" class="alert-link">SHOP</a>
</center>


</div>

{% endblock %}