{% extends "base.html" %}

{% block content %}

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</style>
</head>
<body>

<div class="bg"></div>

</body>
<center
</html>

<h2 class="alert-heading">
    Welcome to AceBottles - Hydrate yourself in style!</h2>
<hr>
<p><img src="https://ae01.alicdn.com/kf/H559d1a83d20d49b294127eefd600e25bl/Stainless-Steel-Insulated-Bottle-Water-Bottle-Personalized-Logo-Cup-Stainless-Steel-Thermos-Portable-Travel-Sport-Bottle.jpg_Q90.jpg_.webp" alt="descriptive text" width="700" height="550" >
<hr>
<h5 class="alert alert-light">
  Click here to <a href="shop" class="alert-link">SHOP</a> <h5/>
</center>


</div>

{% endblock %}