{% extends "base.html" %}

{% block content %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

{% for product in products %}

  <div class="col mb-4">

    <div class="card" style="width: 300;">

      {% if product.image %}
        <img src="{{product.image.url}}" width="300" height="450">
      {% else %}
        <img src="http://127.0.0.1:8000/images/photo-1602143407151-7111542de6e8_RqjdMkN.jpg" width="300" height="450">
      {% endif %}

      <div class="card-body">
        <center class="card-title"><a href="{% url 'product_detail' product.id%}"> {{product.name}} </a> </center>
      </div>
    </div>

  </div>

{% endfor %}

</div>

{% endblock %}