{% extends "base.html" %}

{% block content %}

{% if product.image %}
    <p> <img src="{{product.image.url}}" width="300" height="auto"> </p>
{% else %}
    <p> <img src="https://dummyimage.com/200x300/000/fff&text=NO+IMAGE" width="300" height="auto"> </p>
{% endif %}


<p><b>Name:</b> {{product.name}}</p>
<p><b>Price:</b> {{product.price}}</p>
<p><b>Material:</b> {{product.material}}</p>
<p><b>Size:</b> {{product.size}}</p>

<button onclick="window.location.href='{% url 'purchase' product.id %}'" type="button"  class="btn btn-outline-info">Add To Cart</button>


<hr>

    <p><a href="{% url 'edit' product.id %}">Update product</a></p>

    <p><a href="{% url 'delete_product' product.id %}">Delete product</a></p>



{% endblock %}